<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="pebble mine, pebble pedalers, bike, touring, cycling, gold mine, ore, wild salmon, bristol bay, alaska, prudhoe bay, tierra del fuego, alaska, fly fishing, conservation, trout unlimited"/>

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  </head>
  <body>
    <div id="wrapper" class="container_16">
      <div id="header" class="grid_16">
        <a href="/"><img src="/images/header.jpg" title="Pebble Pedalers"/></a>
      </div>

      <div class="grid_2 prefix_1"><a href="/purpose" class="menu purpose"><span>Purpose</span></a></div>
      <div class="grid_2"><a href="/pedalers" class="menu pedalers"><span>Pedalers</span></a></div>
      <div class="grid_2"><a href="/photos" class="menu photos"><span>Photos</span></a></div>
      <div class="grid_2"><a href="/blog" class="menu blog"><span>Blog</span></a></div>
      <div class="grid_2"><a href="/partners" class="menu partners"><span>Partners</span></a></div>
      <div class="grid_2"><a href="/store" class="menu store"><span>Store</span></a></div>
      <div class="grid_2 suffix_1"><a href="/press" class="menu press"><span>Press</span></a></div>

      <div class="clear">&nbsp;</div>
      <div id="content_top" class="grid_16">&nbsp;</div>
      <div class="clear">&nbsp;</div>

      <div id="content" class="grid_12 prefix_2 suffix_2">
        {{ content }}
      </div>
    </div>
  </body>
</html>